@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
a {
  text-decoration: none;
}
nav {
  z-index: 4;
  width: 100%;
  height: 75px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.411);
  position: sticky;
  top: 0px;
}
nav .logo h1 {
  text-align: center;
  font-size: 5.3rem;
  color: rgb(74, 11, 156);
}
.menu-items {
  display: flex;
  flex-direction: row;
}
nav .menu a {
  text-decoration: none;
  color: rgb(74, 11, 156);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 3rem;
  display: inline-block;
  outline: none;
}
nav .menu a::after {
  content: "";
  height: 3px;
  width: 30%;
  background: rgb(74, 11, 156);
  display: block;
  /* text-align: center; */
  transition: all 0.5s;
}
nav .menu a:hover::after {
  background: black;
  width: 100%;
}
nav .menu a:hover {
  color: #3d075c;
}
.animate__heartBeat {
  animation: none 1s infinite;
}
